services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    environment:
      POSTGRES_DB: mycelium
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432

  api:
    image: markdj/mycelium-backend:latest
    environment:
      PG_HOST: timescaledb
    ports:
      - 8080:8080
